:root {
  /* colores */
  --soft-black: #474a57;
  --just-white: #fff;
  --blue: #00a19d;
  --soft-red: #e05d5d;
  --soft-orange: #ffb344;

  --warm-black: #201e1c;
  --black: #282623;
  --grey: #bababa;
  --off-white: #f4f8f7;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
  background-color: rgb(56, 56, 56);
  font-family: "Montserrat", sans-serif;
}
main {
  /*  */
  /*  */
  /*  */
  /*  */
  /*  */
  /*  */
  /*  */
  /*  */
  min-height: 56rem;
  min-height: 100vh;

  width: 100%;
  background-color: rgb(56, 56, 56);
}
.presentation {
  width: 100%;
  background-color: #fff;
  height: 100vh;
  min-height: 56rem;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.presentation--container {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
}
.presentation--container p {
  font-weight: 800;
  color: var(--soft-black);
  font-size: 1.8rem;
  text-align: center;
  width: 80%;
}
.presentation--container h2 {
  font-size: 3.4rem;
  text-align: center;
}
.presentation--container__minibio {
  margin-top: 1rem;
  font-size: 2rem;
}
.presentation--container a {
  font-size: 2rem;
  border-radius: 1.6rem;
  margin-top: 1.2rem;
  padding: 1rem;
  background-color: var(--soft-red);
  padding: 1.2rem;
  font-weight: 800;
  border-bottom: 0.6rem solid black;
  text-decoration: none;
  color: white;

  /* boxshadow */
}
/* .bg--image {
  background-image: url("/images/undraw_folder_39kl.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 500px;
  height: 500px;
} */

/* ABOUT ME */
.about {
  width: 100%;
  background-color: #fff8e5;
  min-height: 61rem;
  /* height: 100vh; */
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.about--container {
  display: flex;
  flex-direction: column;
}
.about--container--resume {
}
.about--container--resume h2 {
  font-size: 3rem;
  /* text-align: center; */
  width: 80%;
  margin: 0 auto;
  margin-top: 3.2rem;
  margin-bottom: 1.2rem;
}
.about--container--resume p {
  font-size: 1.6rem;
  /* text-align: center; */
  width: 80%;
  margin: 0 auto;
  line-height: 2.8rem;
}
.about--container--resume--list {
  margin: 0 auto;
  margin-top: 1.2rem;
  font-size: 1.6rem;
  width: 80%;
  display: flex;
  list-style: none;
}
.resume--list--1 {
  line-height: 2.6rem;
  list-style: none;
}
.resume--list--2 {
  line-height: 2.6rem;
  list-style: none;
  margin-left: 3.2rem;
}

.html {
  color: #ff6d00;
  margin-right: 1rem;
}
.javascript {
  color: #ffd600;
  margin-right: 1rem;
}
.sass {
  color: #f06292;
  margin-right: 1rem;
}
.figma {
  color: #000000;
}
.css {
  color: #039be5;
}
.bootstrap {
  color: #673ab7;
}
.git {
  color: #f4511e;
}

.resources--container--silder {
  height: 10rem;
  display: flex;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  width: 80%;
  margin: 0 auto;

  margin-top: 1.6rem;
}
.scroll--img {
  width: 9.2rem;
  position: relative;
  width: 100%;
  /* Para que el scroll funcione */
  scroll-snap-align: center;
}
/* ABOUT ME */

/* PROJECTS */

.projects {
  background-color: #00a19d;
  width: 100%;
  /* height: 100vh; */
  min-height: 56rem;
  min-height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projects--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: red; */
}
.projects--container h2 {
  font-size: 3rem;
  text-align: center;
  margin-top: 4rem;
}
.projects--container p {
  /* text-align: center; */
  width: 95%;
  font-size: 2rem;
  text-align: center;
  margin-top: 1.2rem;
}
.projects--container--gallery {
  margin-top: 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 110rem;
}
.cc1,
.cc3 {
  color: #163e59;
  background-color: #fff8e5;
}
.projects--container--gallery--cards {
  /* margin-top: 3rem; */
  padding: 2rem;
  width: 100%;
  display: flex;
  /* display: flex; */
  /* flex-wrap: wrap; */
  flex-direction: column;
  align-items: center;
}
.card--container {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 98%;
}
.projects--container--gallery--cards h3 {
  font-size: 2.8rem;
  width: 98%;
  /* margin-left: 1rem; */
}
.projects--container--gallery--cards p {
  margin-top: 1.6rem;
  /* margin-left: 1rem; */
  font-size: 1.6rem;
  /* width: 90%; */
}
.c1 {
  background-image: url("/images/data-slider-prince.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.c2 {
  background-image: url("/images/tipPerperson.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.c3 {
  background-image: url("/images/dashboard-time-tracking.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.c4 {
  background-image: url("/images/tipPerperson.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.c2,
.c4 {
  order: -1;
}
.card {
  width: 100%;
  /* height: 30rem; */
  /* max-width: 34rem; */
  /* height: 16rem; */
  min-height: 18rem;
  margin-bottom: 2rem;
  height: calc(80vw - 20rem);
  background-color: white;
  border-radius: 1.6rem;
  margin-right: 1.2rem;
  margin-top: 2.4rem;
  box-shadow: 1px 1px 4px 2px rgb(71 71 71 / 34%);
}
.text--container {
  width: 100%;
}
.text--container p {
  margin-top: 1.2rem;
  margin-left: 0.6rem;
}
.text--container a {
  background: #163e59;
  color: white;
  display: inline-block;
  margin-left: 0.6rem;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  text-decoration: none;
  margin-top: 2rem;
  border-radius: 1.6rem;
  /* color: #163e59; */
  font-weight: bold;
  /* width: 10rem;
  height: 3rem; */
}
.text--container .link-blue {
  background-color: #fff8e5;
  color: #163e59;
  /* width: 1000px; */
}
.c4 {
  margin-bottom: 2.8rem;
}

/* PROJECTS */

/* CONTACT */
.contact {
  width: 100%;
  min-height: 56rem;
  min-height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact--text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact--text h2 {
  font-size: 3rem;
  text-align: center;
  margin-top: 2.4rem;
}
.contact--text p {
  text-align: center;
  font-size: 2rem;
  margin-top: 1.2rem;
  width: 80%;
}
.contact--section {
  width: 100%;
  max-width: 110rem;
}

.contact--mail {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 4rem;
  margin-bottom: 2rem;
}
.contact--mail img {
  margin: 0 2rem;
  width: 10rem;
}
.contact--inputs {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 2rem;
}
.input {
  width: 85%;
  padding: 1.6rem 0.8rem;
  margin-top: 1rem;
  border-radius: 1.2rem;
  font-size: 1.6rem;
}
.contact--inputs .text {
  height: 20rem;
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
  border: 0.2rem solid black;
}
.submit {
  font-size: 2rem;
  border-radius: 1.6rem;
  margin-top: 1.2rem;
  padding: 1rem;
  background-color: var(--blue);
  border: 1px solid black;
  text-decoration: none;
  color: white;
  cursor: pointer;
}
/* CONTACT */

/* FOOTER */
footer {
  width: 100%;
  height: 16rem;
  background-color: rgb(0, 0, 0);
}
i {
  font-size: 2.8rem;
  height: 3rem;
  color: white;
  margin: 0 1.2rem;
}
.footer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.footer p {
  color: white;
}
/* FOOTER */
