:root {
  /* colores */
  --soft-black: #474a57;
  --just-white: #fff;
  --blue: #00a19d;
  --soft-red: #e05d5d;
  --soft-orange: #ffb344;

  --warm-black: #201e1c;
  --black: #282623;
  --grey: #bababa;
  --off-white: #f4f8f7;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  background-color: rgb(56, 56, 56);
  font-family: "Montserrat", sans-serif;
}
main {
  /*  */
  /*  */
  /*  */
  /*  */
  /*  */
  /*  */
  /*  */
  /*  */
  min-height: 56rem;
  min-height: 100vh;

  width: 100%;
  background-color: rgb(56, 56, 56);
}
.presentation {
  width: 100%;
  background-color: #fff;
  height: 100vh;
  min-height: 56rem;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.presentation--container {
  height: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}
.presentation--container p {
  font-size: 1.8rem;
  text-align: center;
  width: 80%;
}
.presentation--container h2 {
  font-size: 3.2rem;
  text-align: center;
}
.presentation--container__minibio {
  margin-top: 1rem;
  font-size: 2rem;
}
.presentation--container a {
  font-size: 2rem;
  border-radius: 1rem;
  margin-top: 1.2rem;
  padding: 1rem;
  background-color: var(--soft-red);
  padding: 1.2rem;

  border: 1px solid black;
  text-decoration: none;
  color: white;
  /* boxshadow */
}
.bg--image {
  background-image: url("/images/undraw_folder_39kl.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 500px;
  height: 500px;
}
/* ABOUT ME */

/* ABOUT ME */

/* PROJECTS */

.projects {
  background-color: var(--soft-orange);
  width: 100%;
  /* height: 100vh; */
  min-height: 56rem;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.projects--container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projects--container h2 {
  font-size: 3.2rem;
  text-align: center;
  margin-top: 4rem;
}
.projects--container p {
  /* text-align: center; */
  width: 95%;
  font-size: 2rem;
  text-align: center;
  margin-top: 1.2rem;
}
.projects--container--gallery {
  margin-top: 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.projects--container--gallery--cards {
  margin-top: 0rem;
  border: none;
  width: 100%;
  display: flex;
  /* display: flex; */
  /* flex-wrap: wrap; */
  flex-direction: column;
  align-items: center;
  padding: 4rem 2rem;
  /* background: white; */
  /* box-shadow: 1000px 0px 0px #ffffff, -1000px 0px 0px #ffffff; */
}
.cc1,
.cc3 {
  color: white;
  background-color: #163e59;
  box-shadow: 1000px 0px 0px #163e59, -1000px 0px 0px #163e59;
  /* box-shadow: - 100px red; */
}
.c2,
.c4 {
  order: 2;
}
.card--container {
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 1.2rem;
  width: 98%;
}
.projects--container--gallery--cards h3 {
  font-size: 2.8rem;
  width: 90%;
  /* margin-left: 1rem; */
}
.projects--container--gallery--cards p {
  margin-top: 1.6rem;
  /* margin-left: 1rem; */
  font-size: 2rem;
  width: 90%;
}
.card {
  width: 50%;
  /* max-width: 34rem; */
  /* height: 16rem; */
  /* height: calc(100vw -50rem);
  */
  min-height: 24rem;
  max-height: 30rem;
  min-width: 32rem;
  background-color: white;
  border-radius: 1.2rem;
  margin-left: 1.2rem;
  margin-right: 0rem;
  margin-top: 0rem;
  box-shadow: 1px 1px 4px 2px rgb(71 71 71 / 34%);
  /* margin-bottom: 2rem; */
}
.text--container {
  height: 30rem;
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: space-between;
}
.text--container p {
  margin-top: 1rem;
}
.text--container a {
  margin-bottom: 1rem;
}
.c4 {
  margin-bottom: 2.8rem;
}

/* PROJECTS */

/* CONTACT */
.contact {
  width: 100%;
  min-height: 56rem;
  min-height: 82vh;
  /* max-height: 70rem; */
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact--section {
  width: 100%;
  max-height: 70rem;
  max-width: 110rem;
  display: flex;
  /* flex-direction: column; */
}
.contact--mail {
  width: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 4rem;
}
.contact--mail img {
  margin: 0 2rem;
  width: 12rem;
}

.contact--text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact--text h2 {
  font-size: 3.2rem;
  text-align: center;
  margin-top: 2.4rem;
}
.contact--text p {
  text-align: center;
  font-size: 2rem;
  margin-top: 1.2rem;
  width: 80%;
}

.contact--inputs {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  /* max-width: 110rem; */
}
.input {
  width: 85%;
  padding: 1.6rem 0.8rem;
  margin-top: 1rem;
  border-radius: 1.2rem;
}
.submit {
  font-size: 2rem;
  border-radius: 1.6rem;
  margin-top: 1.2rem;
  padding: 1rem;
  background-color: var(--blue);
  border: 1px solid black;
  text-decoration: none;
  color: white;
}
/* CONTACT */

/* FOOTER */
footer {
  width: 100%;
  height: 16rem;
  background-color: rgb(0, 0, 0);
}
i {
  font-size: 2.8rem;
  height: 3rem;
  color: white;
  margin: 0 1.2rem;
}
.footer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.footer p {
  color: white;
}
/* FOOTER */

.about--container {
  margin: auto auto;
  display: flex;
  flex-direction: row;
  max-width: 1100px;
}

.about--container--resume {
  width: 50%;
}
.about--container--resume h2 {
  font-size: 3.2rem;
  /* text-align: center; */
  width: 80%;
  margin: 0 auto;
  /* margin-top: 3.2rem; */
  margin-bottom: 1.4rem;
}
.about--container--resume p {
  font-size: 1.8rem;
  /* text-align: center; */
  width: 80%;
  margin: 0 auto;
  line-height: 2.8rem;
}
.about--container--resume--list {
  margin: 0 auto;
  margin-top: 1.2rem;
  font-size: 1.8rem;
  width: 80%;
  display: flex;
  list-style: none;
}
.resume--list--1 {
  line-height: 2.6rem;
  list-style: none;
}
.resume--list--2 {
  line-height: 2.6rem;
  list-style: none;
  margin-left: 3.2rem;
}
.resources--container--silder {
  height: 10rem;
  display: flex;
  flex-wrap: wrap;
  overflow-x: initial;
  overscroll-behavior-x: none;
  width: 50%;
  margin: auto auto;
  /* flex-wrap: wrap; */
  height: 250px;
  /* margin-top: 1.6rem; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  /* margin-top: 8rem; */
  align-items: center;
  justify-items: center;
  align-items: center;
}
.scroll--img {
  width: 11rem;
  position: relative;
  height: 100px;

  /* Para que el scroll funcione */
  scroll-snap-align: none;
}
/* corrige la distribucion */
