.grid-layout {
  width: 88%;
  /* background-color: yellow; */
  /* width: auto; */
  /* min-width: 730px; */
  height: auto;
  display: grid;
  justify-content: center;
  /* padding: 50px 0px 20px; */
  grid-template-columns: 31% 31% 31%;
  grid-template-rows: auto;
  gap: 1rem;
}

.menu-card {
  margin: 0;
  grid-column: 1/4;
  width: auto;
}
.card {
  margin: 0;
  width: 100%;
  min-width: auto;
}
.work {
  grid-column: 1/2;
  width: 100%;

  margin: 0;
}
.play {
  grid-column: 2/3;
  margin: 0;
  width: 100%;
  min-width: auto;
}
.study {
  grid-column: 3/4;
  margin: 0;
}
.exercise {
  grid-column: 1/2;
  margin: 0;
}
.social {
  grid-column: 2/3;
  margin: 0;
}
.selfcare {
  grid-column: 3/4;
  margin: 0;
}
